.grid-main-container{
    width:100%;
    aspect-ratio: 1/1;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap:1%;
    padding:5px;
}

.grid-child1{
    grid-column: span 1;
    grid-row: span 1;
}

.grid-child2{
    grid-column: span 2;
}

.grid-child3{
    grid-row: span 2;
}

.grid-box{
    animation: jelly 0.5s;
    animation-delay: 0.1s;
}

.grid-box:hover{
  border: 1px solid red;
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}